*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
button{
    cursor: pointer;
}
.dflex{
    display: flex;
}
.meningkurslarim{
    max-width: 1920px;
    width: 100%;
    height: auto;
}
.saitbargroup{
    width: 100%;
    display: grid;
    grid-template-columns:20% 80%;
}
.saitbar{
    width: 100%;
    height: 100vh;
    padding: 40px 0 0 55px;
    background-color:#FFF;
    float: left;
    margin-top: -15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}
.cluch{
    position: fixed;
    top: 50px;
    left: 0px;
    padding: 0;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    z-index: -66;
}
.cluch svg{
    color:green;
    width: 30px;
    height: 30px;
}
.saitbar:before{
    position: absolute;
    top: 5%;
    right: 0;
    content: '';
    width: 1px;
    height: 95%;
    background-color: rgb(206, 203, 203);
}

.saitbar ul{
    width: 100%;
    margin-bottom: 30px;
}
.saitbar ul li{
    position: relative;
    width: 100%;

}
.active{
        border-right: 3px solid rgb(5, 176, 5);
}

.saitbar ul li a{
    padding:25px 10px;
    display: flex;
    align-items: center;   
    color: rgb(173, 171, 171);
    font-weight: 600; 
    font-size: 20px;
    transition: all 0.1s ease-in-out;
}
.saitbar ul li  svg{
    margin-right: 20px; 
    width: 30px;
    height: 30px;
    color: rgb(126, 126, 126);
    transition: all 0.1s ease-in-out;
}
.saitbar ul li:hover svg{
    color: green;
}
.saitbar ul li a.active svg{
    color: green;
}
.saitbar ul li a:hover{
    color: black;
}
.saitbar ul li a.active {
    color: black;
}
.pdplogo{
    width: 200px;
    height: 100px;
    margin-bottom: 40px;
    margin-left: 10px;
}
/* ////////// */
.nav{
    width: 100%;
    height: 15vh;
    background-color:#FFF;
    float: right;
    text-align: end;
    display: flex;
    justify-content: end;   
    align-items: center;
    padding: 0px 5%;
    box-shadow: 0px 0px 10px white;
}
.nav svg{
    width: 30px;
    height: 30px;
    color: rgb(99, 99, 99);
    transition: all 0.2s ease;
}
.nav svg:hover{
    color: rgb(6, 144, 6);
}
.nav h4{
    font-weight: 700;
    font-size: 25px;
    color:rgb(87, 84, 84);
    text-shadow: 0px 0px 2px rgb(71, 71, 71) ;
}
.nav button{
    background-color: transparent;
    border: none;
    color: black;
    padding: 0;
}
.nav *{
    cursor: pointer;
}
/* ////////// */
.pofilcard{
    width: 250px;
    height: auto;
    padding:30px 20px;
    background-color: white;
    box-shadow: 0px 10px 35px rgb(219, 244, 253);
    position: absolute;
    top: 120px;
    right: 0px;
    opacity: 0;
    z-index: -55;
    transition: all 0.4s ease-in-out;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: all 0.5s ease-in-out;
}
.pofilcard.active{
    opacity: 1;
    z-index: 55;
    right: 100px;
}
.pofilcard li a{
    display: flex;
    align-items: center;    
    gap: 10px;
    color: rgb(173, 171, 171);
    font-weight: 600; 
    font-size: 20px;
    transition: all 0.1s ease-in-out;
}
.pofilcard li:hover a{
    color: rgb(9, 9, 9);
}
.pofilcard li:hover svg{
    color: rgb(8, 196, 33);
}
.close{
    padding: 5px 10px ;
    background-color: red;
    color:white;
}
.close:hover svg{
    color:rgb(234, 8, 8);
}
.xabarnomalar{
    width: 30%;
    height: 100vh;
    background-color: rgba(227, 235, 248, 0.869);
    padding: 20px;
    padding-top: 100px;
    position: relative;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    z-index: -55;
    transition: all 0.3s ease;
    text-align: center;
    transition: all 0.5s ease-in-out;
}
.xabarnomalar.active{
    right: 0;
    opacity: 1;
    z-index: 55;
}
.xabarnomaclose{
    position: absolute;
    top: 20px;
    left: -60px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(227, 235, 248, 0.751) !important;
}
/* //////////// */
.home{
    width: 100%;
    height: 85vh;
    background-color: rgba(255, 254, 255, 0.327);
    float: right;
    overflow-y: scroll;
    padding:0 130px;
}
.home h2{
    text-align: start;
    color: black;
    font-weight: 500;
    font-size: 55px ;
}
.home h1{
    text-align: start;
    color: black;
    font-weight: 500;
    font-size: 55px ;
}
.kurscard{
    width: 80%;
    height: auto;
    background-color:rgba(240, 246, 252, 0.673);
    box-shadow:0px 0px 10px rgba(185, 198, 212, 0.468);
    border-radius: 5px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin: 40px 0;
}
.kurscard hr{
    height: 1px;
    background-color: rgb(226, 226, 226);
    border: none;
    margin: 10px 0;
}
.kurscardtitle{
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}
.kurscardheader{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.kurscardbody{
    width: 80%;
    display: flex;
    justify-content: flex-start;
}
.kurscardbody span{
    font-weight: 700;
}
.kurscardfooter{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.kurscard h4 span{
    font-size: 35px;
    color: rgb(10, 10, 10);
}

.kurscard h4{
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 50px;
    display: flex;
    margin: 0 10px;
    color: grey;
    display: flex;
    flex-direction: column;
}
.kurscardheader h4{
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 50px;
    display: flex;
    margin: 0 10px;
    color: grey;
    display: flex;
    flex-direction: column;
}
.kurscardtotal{
    display: flex;
    gap: 15px;
    margin: 20px 0;
    text-align: center;
}
.kurscardtotal h5{
    font-size: 25px;
    font-weight: 500;
}
.kurscardtotal p{
    font-size: 15px;
    color: grey;
    margin-bottom: 10px;
}
.cardicon{
    width: 70px;
    height: 70px;
    border-radius:50%;
    background-color: rgb(236, 240, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    border: none;
    color: rgb(82, 80, 80);
}
.kurscardicon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 15px;
}
.kurscard:hover .cardicon{
    background-color: rgb(7, 243, 7);
    box-shadow:0px 0px 2px black;
}
.cardicon:hover svg{
    color: white;
}
.cardicon svg{
    width: 25px;
    height: 25px;
}
.onnoffkurslar{
    width: max-content;
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 2px solid rgb(229, 228, 228);
    margin: 50px 0;
    display: none;
}
.onnoffkurslar button{
    width: 50%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: rgb(158, 157, 157);
    font-size: 20px;
    position: relative;
    margin: 0;
    padding: 10px 20px;
}
.onnoffkurslar button::after{
    position: absolute;
    bottom: 0px;
    right: 0;
    content: '';
    width: 100%;
    height: 0px;
    background-color: rgb(8, 243, 8);
    transition: all 0.3s ease-in-out;
}
.onnoffkurslar button.active::after{
    width: 100%;
    height: 3px;
}
.onnoffkurslar button.active{
    color: black;
}
.offerror{
    color: rgba(98, 96, 99, 0.507);
}
/* //////////////// */
.home2control{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.home2control button{
    border: none;
    background-color: transparent;
    color: rgb(126, 126, 126);
    font-size: 25px;
    transition: all 0.3s ease-in-out;
}
.home2control button.active{
    border: none;
    background-color: transparent;
    color: rgb(9, 8, 8);
    font-size: 25px;
}

/* ///////// */
.inputradio{
    width: 30px;
    height: 17px;
    display: flex;
    border: 1px solid rgb(160, 157, 157) !important;
    border-radius: 10px;
    background-color: transparent;
    position: relative;
}
.inputradio > span{
     position: absolute;
     top: 0;
     left: 0;
    width: 15px;
    height: 15px;
    content: '';
    border: none;
    border-radius:50%;
    background-color: rgb(5, 185, 5);
    transition: all 0.3s;
}
.inputradio.active span{
     left: 15px;
}
.onlineofline{
    display: flex;
    align-items: center;
}
.home2controlbtn{
    border-bottom: rgb(205, 204, 204) 1px solid;
}
.home2controlbtn button{
    position: relative;
    margin: 0;
    height: 100%;
}
.home2controlbtn button::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content:'';
    width: 100%;
    height: 0px;
    background-color: rgb(7, 223, 36);
}
.home2controlbtn button.active::after{
    height: 2px;
}
.mutaxassiscards{
    width: 100%;
    height: auto;
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(2 , 1fr);
  
}
.mutaxassiscard{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    border: 2px solid rgb(231, 228, 253);
    background-color: rgb(241, 244, 246);
}
.mutaxassiscard .right img{
    width: 100px;
    height: 50px;
    border: none;
}
.mutaxassiscard .left{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.mutaxassiscard .left h3{
    font-size: 30px;
}
.mutaxassiscard .left h4{
    font-size: 25px;
}
.mutaxassiscard .left p{
    font-size: 20px;
    color: grey;
}
.mutaxassiscard:hover {
    background-color: white;
}
.mutaxassiscard:hover .cardicon{
    background-color: rgb(7, 243, 7);
    box-shadow:0px 0px 2px black;
}
.sertifikatlarimcard{
    width: 100%;
    min-height: 600px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sertifikatlarimcard h5{
    margin-top: 15px;
    font-size: 17px;
}
.sertifikatlarimcard h5 a{
    color: green;
    transition: all 0.3s ease;
}
.sertifikatlarimcard svg{
    color: green;
    transition: all 0.3s ease;
    width: 70px;
    height: 70px;
    margin-top: 50px;
    transform: rotate(-40deg);
    animation: hand 1s linear infinite;
}
@keyframes hand{
    0%{ transform: rotate(-40deg);}
        
    50%{ transform: rotate(-40deg);color: rgb(251, 255, 0);}
       
    100%{transform: rotate(-40deg);}
        
}
/* ///////// */
.avatar{
    display: flex;
    align-items: center;
    margin: 50px 0;
}
.avatarimg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(227, 228, 229, 0.673);
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatarimg svg{
    width: 35px;
    height: 35px;
}
.avatarlabel{
    width: 250px;
    height: 100px;
    background-color: rgba(232, 235, 237, 0.987);
    color: rgb(113, 111, 111);
    font-size: 20px;
    padding: 20px;
    position: relative;
    margin-left: 80px;
    border-radius: 5px;
}
.avatarlabel::after{
    position: absolute;
    top: 40%;
    left: -25px;
    transform: rotate(50deg)translateY(-50%);
    content: '';
    width: 30px;
    height: 30px;
    background-color: rgba(232, 235, 237, 0.987);
}
.sozlamalarform{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sozlamalarform h3{
    font-size: 25px;
    margin-top: 25px ;
}
.sozlamalarform input{
    border: none;
    font-size: 20px;
    border-bottom: 1px solid grey;
    outline: none;
}
.birinchiinput{
    width: 100%;
    position: relative;
}
.birinchiinput input{
    width: 100%;
}
.botuchunparol {
    background-color: rgb(236, 238, 239);
}
.botuchunlabel {
    color: grey;
    font-size: 25px;
}
.birinchiinputlabel{
    position: absolute;
    top: 10px;
    right: -100px;
    opacity: 0;
}
.birinchiinputlabel.active{
    opacity: 1;
}
.botuchuninput{
    display: flex;
    flex-direction: column;
    position: relative;
}
.botuchunbtn{
    position: absolute;
    top: 10px;
    right: -60px;
    border: none;
    background-color: transparent;
}
.botuchunbtn svg{
    color: rgb(4, 77, 4);
    width: 30px;
    height: 30px;
}
.avatarbtns{
    margin: 50px 0;
    display: flex;
}
.saqlashbtn{
    border: none;
    background-color: rgb(5, 101, 9);
    color:white;
    font-size: 20px;
    padding: 8px 45px;
    transition: all 0.3s ease-in-out;
    box-shadow:0px 0px 5px green;
}
.saqlashbtn:hover{
    background-color: rgb(3, 166, 12);
}
.profilniuchirishbtn{
    border: 1px solid black;
    background-color: white;
    color:rgb(1, 1, 1);
    font-size: 20px;
    padding: 8px 15px;
    transition: all 0.3s ease-in-out;
    box-shadow:0px 0px 5px black;
}
.profilniuchirishbtn:hover{
    background-color: black;
    color:white;
}
/* /////////////// */
tr,
th,
td,
table{
    border: 1px solid grey;
    border-collapse:collapse ;
    padding: 10px;
}
table{
    width: 80%;
    box-shadow:0px 0px 10px rgb(187, 187, 239);
}
thead{
    background-color: rgb(66, 65, 65);
    color: white;
}
tbody{
    color: rgb(93, 91, 91);
    font-size: 25px;
}
tr:hover{
   background-color: rgba(43, 226, 83, 0.162);
   color: black;
}
.meningguruhimtab h1{
    margin: 30px 0;
    color: green;
}
/* /////////////// */
















@media (max-width:1440px){
    .meningkurslarim{
        width: 100%;
        overflow: hidden;
    }
    .saitbargroup{
        width: 100%;
        grid-template-columns: 25% 75%;
    }
    .cluch{
        z-index: -66;
    }
    .saitbar{
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        padding: 0px 0 0 0px;
        background-color:#FFF;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 40;
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }
    .saitbar.activ{
        transform: rotateY(0deg);
        opacity: 1;
        z-index: 40;
        left: 0px;
    }
    .saitbar ul li a{
        font-size: 15px;
        padding: 30px 0 0 40px;
        text-align: center;
    }
    .pdplogo{
        margin-left: 20px;
    }
    .pofilcard.active{
        opacity: 1;
        z-index: 55;
        right: 10px;
    }
    .xabarnomalar{
        width: 70%;
    }
    .xabarnomalar h1{
        font-size: 30px;
        margin-bottom: 50px;
    }
    .xabarnomalar img{
        width: 100%;
        margin-top: 25px;
    }
    .home{
        padding:  50px;
    }
    .home h2{
        font-size: 30px;
    }
    .home h1{
        font-size: 40px;
    }
   
    .home2controlbtn button{
        font-size: 20px;
        padding-bottom: 10px;
    }
    .home2control button.active{
        font-size: 20px ;
    }
    .mutaxassiscards{
        grid-template-columns: repeat(2,1fr);
    }
    .mutaxassiscard{
        padding: 10px;
    }
    .mutaxassiscard .left h3{
        font-size: 20px;
    }
    .mutaxassiscard .left h4{
        font-size: 20px;
    }
    .right{
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .home2controlbtn button.active{
        font-size: 15px;
    }
    .kurscard{
        width: 100%;
        padding: 20px 40px;
    }
    .kurscard h4{
        font-size:20px;
    }
    .kurscard h4 span{
        font-size: 25px;
        line-height: 30px;
    }
    .cardicon{
        width: 60px;
        height: 60px;
    }
    .kurscardfooter{
        width: 100%;
    }

}

@media (max-width:1200px){
    .meningkurslarim{
        width: 100%;
        overflow: hidden;
    }
    .saitbargroup{
        width: 100%;
        grid-template-columns: 25% 75%;
    }
    table{
        width: 100%;
    }
    .cluch{
        z-index: -66;
    }
    .saitbar{
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        padding: 0px 0 0 0px;
        background-color:#FFF;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 40;
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }
    .saitbar.activ{
        transform: rotateY(0deg);
        opacity: 1;
        z-index: 40;
        left: 0px;
    }
    .saitbar ul li a{
        font-size: 15px;
        padding: 30px 0 0 40px;
        text-align: center;
    }
    .pdplogo{
        margin-left: 20px;
    }
    .pofilcard.active{
        opacity: 1;
        z-index: 55;
        right: 10px;
    }
    .xabarnomalar{
        width: 70%;
    }
    .xabarnomalar h1{
        font-size: 30px;
        margin-bottom: 50px;
    }
    .xabarnomalar img{
        width: 100%;
        margin-top: 25px;
    }
    .home{
        padding:  50px;
    }
    .home h2{
        font-size: 30px;
    }
    .home h1{
        font-size: 30px;
    }
   
    .home2controlbtn button{
        font-size: 20px;
        padding-bottom: 10px;
    }
    .home2control button.active{
        font-size: 20px ;
    }
    .mutaxassiscards{
        grid-template-columns: repeat(2,1fr);
    }
    .mutaxassiscard{
        padding: 10px;
    }
    .mutaxassiscard .left h3{
        font-size: 20px;
    }
    .mutaxassiscard .left h4{
        font-size: 20px;
    }
    .right{
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .home2controlbtn button.active{
        font-size: 15px;
    }
    .kurscard{
        width: 100%;
        padding: 40px;
    }
    .kurscard h4{
        font-size:20px;
    }
    .kurscard h4 span{
        font-size: 25px;
        line-height: 30px;
    }
    .cardicon{
        width: 60px;
        height: 60px;
    }
    .kurscardfooter{
        width: 100%;
    }

}

@media (max-width:768px){
    .meningkurslarim{
        width: 100%;
        overflow: hidden;
    }
    table{
        width: 100%;
    }
    tbody{
        color: rgb(93, 91, 91);
        font-size: 15px;
    }
    .saitbargroup{
        width: 100%;
        grid-template-columns: 100%;
    }
    .cluch{
        z-index: 66;
    }
    .saitbar{
        position: fixed ;
        top: 100px;
        left: -70px;
        width: 50%;
        height: 100vh;
        padding: 0px 0 0 0px;
        background-color:#FFF;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: -40;
        opacity: 0;
        transform: rotateY(90deg);
        transition: all 0.3s ease-in-out;
    }
    .saitbar.activ{
        transform: rotateY(0deg);
        opacity: 1;
        z-index: 40;
        left: 0px;
    }
    .saitbar ul li a{
        font-size: 15px;
        padding: 20px 0 0 40px;
    }
    .pdplogo{
        margin-left: 20px;
    }
    .pofilcard.active{
        opacity: 1;
        z-index: 55;
        right: 10px;
    }
    .xabarnomalar{
        width: 70%;
    }
    .xabarnomalar h1{
        font-size: 30px;
        margin-bottom: 50px;
    }
    .xabarnomalar img{
        width: 100%;
        margin-top: 25px;
    }
    .home{
        padding: 0  10px;
    }
    .home h2{
        font-size: 30px;
    }
    .home h1{
        font-size: 30px;
    }
    .home2control{
        flex-direction: column;
    }
    .home2controlbtn button{
        font-size: 15px;
        padding-bottom: 10px;
    }
    .home2control button{
        font-size: 15px;
    }
    .mutaxassiscards{
        grid-template-columns: repeat(2,1fr);
    }
    .mutaxassiscard{
        padding: 10px;
    }
    .mutaxassiscard .left h3{
        font-size: 20px;
    }
    .mutaxassiscard .left h4{
        font-size: 20px;
    }
    .right{
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .home2controlbtn button.active{
        font-size: 15px;
    }
    .kurscard{
        width: 100%;
        padding: 10px;
    }
    .kurscard h4{
        font-size: 15px;
    }
    .kurscard h4 span{
        font-size: 20px;
        line-height: 30px;
    }
    .cardicon{
        width: 40px;
        height: 40px;
    }
    .kurscardfooter{
        width: 100%;
    }
    .sozlamalarform{
        margin: 0 auto;
    }
}

@media (max-width:450px){
    .meningkurslarim{
        width: 100%;
        overflow: hidden;
    }
    .saitbargroup{
        width: 100%;
        grid-template-columns: 100%;
    }
    .cluch{
        z-index: 66;
    }
    .saitbar{
        position: fixed ;
        top: 100px;
        left: -70px;
        width: 70%;
        height: 100vh;
        padding: 0px 0 0 0px;
        background-color:#FFF;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: -40;
        opacity: 0;
        transform: rotateY(90deg);
        transition: all 0.3s ease-in-out;
    }
    .saitbar.activ{
        transform: rotateY(0deg);
        opacity: 1;
        z-index: 40;
        left: 0px;
    }
    .saitbar ul li a{
        font-size: 15px;
        padding: 20px 0 0 40px;
    }
    .pdplogo{
        margin-left: 20px;
    }
    .pofilcard.active{
        opacity: 1;
        z-index: 55;
        right: 10px;
    }
    .xabarnomalar{
        width: 70%;
    }
    .xabarnomalar h1{
        font-size: 30px;
        margin-bottom: 50px;
    }
    .xabarnomalar img{
        width: 100%;
        margin-top: 25px;
    }
    .home{
        padding: 0  10px;
    }
    .home h2{
        font-size: 30px;
    }
    .home h1{
        font-size: 30px;
    }
    .home2control{
        flex-direction: column;
    }
    .home2controlbtn button{
        font-size: 15px;
        padding-bottom: 10px;
    }
    .home2control button{
        font-size: 15px !important;
    }
    .mutaxassiscards{
        grid-template-columns: 100%;
    }
    .mutaxassiscard{
        padding: 10px;
    }
    .mutaxassiscard .left h3{
        font-size: 20px;
    }
    .mutaxassiscard .left h4{
        font-size: 20px;
    }
    .right{
        display: flex;
        flex-direction: column;
        align-items: end;
    }
  
    .home2controlbtn button.active{
        font-size: 16px !important ;
    }
    .kurscard{
        width: 100%;
        padding: 10px;
    }
    .kurscard h4{
        font-size: 15px;
    }
    .kurscard h4 span{
        font-size: 20px;
        line-height: 30px;
    }
    .cardicon{
        width: 40px;
        height: 40px;
    }
    .kurscardfooter{
        width: 100%;
    }
    





    .avatar{
        display: flex;
        align-items: center;
        margin: 50px 0;
    }
    .avatarimg{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: rgba(227, 228, 229, 0.673);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .avatarimg svg{
        width: 20px;
        height: 20px;
    }
    .avatarlabel{
        width: 150px;
        height: 60px;
        background-color: rgba(232, 235, 237, 0.987);
        color: rgb(113, 111, 111);
        font-size: 10px;
        padding: 20px 0 0 30px;
        position: relative;
        margin-left: 20px;
        border-radius: 5px;
    }
    .avatarlabel::after{
        position: absolute;
        top: 40%;
        left: -25px;
        transform: rotate(50deg)translateY(-50%);
        content: '';
        width: 30px;
        height: 30px;
        background-color: rgba(232, 235, 237, 0.987);
    }
    .sozlamalarform{
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .sozlamalarform h3{
        font-size: 25px;
        margin-top: 25px ;
    }
    .sozlamalarform input{
        border: none;
        font-size: 15px;
        border-bottom: 1px solid grey;
        outline: none;
    }
    .birinchiinput{
        width: 100%;
        position: relative;
    }
    .birinchiinput input{
        width: 100%;
    }
    .botuchunparol {
        background-color: rgb(236, 238, 239);
    }
    .botuchunlabel {
        color: grey;
        font-size: 15px;
    }
    .birinchiinputlabel{
        position: absolute;
        top: 10px;
        right: -100px;
        opacity: 0;
    }
    .birinchiinputlabel.active{
        opacity: 1;
    }
    .botuchuninput{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .botuchunbtn{
        position: absolute;
        top: 10px;
        right: 20px;
        border: none;
        background-color: transparent;
    }
    .botuchunbtn svg{
        color: rgb(4, 77, 4);
        width: 20px;
        height: 20px;
    }
    .avatarbtns{
        margin: 50px 0;
        display: flex;
    }
    .saqlashbtn{
        border: none;
        background-color: rgb(5, 101, 9);
        color:white;
        font-size: 15px;
        padding: 5px 15px;
        transition: all 0.3s ease-in-out;
        box-shadow:0px 0px 5px green;
    }
    .saqlashbtn:hover{
        background-color: rgb(3, 166, 12);
    }
    .profilniuchirishbtn{
        border: 1px solid black;
        background-color: white;
        color:rgb(1, 1, 1);
        font-size: 20px;
        padding: 8px 5px;
        transition: all 0.3s ease-in-out;
        box-shadow:0px 0px 5px black;
    }
    .profilniuchirishbtn:hover{
        background-color: black;
        color:white;
    }
    
    
    
    
    

}